<!DOCTYPE html>
<html>
  <head>
    <title>Toy App-Bikash Prajapati</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>

  </head>

  <body>
  	<div class="container">
  		  	<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><b>Bikash Prajapati</b></a>
  
          </div>

  
  </div><!-- /.container-fluid -->
</nav>
  		<p>Welcome to Bikash Prajapati's Page </p>
  		<%= yield %>
  	</div>
    
  </body>
</html>
